

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	 width: 100%;
	height: 100%;
	font-family:Sansita,sans-serif;
}


body {
	color: #dadada;
	line-height: 1.75;
	margin: 0;
}
/* my new button*/
button{
	margin: 0px;
	width: 90px;
	height: 90px;
	
	display: inline-block;
	font-size: 18px;
	padding: 20px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
}


@media screen and (min-width: 480px){
	.prep50 {
		background-color: rgba(255, 0, 0, 0.5);
		color: #fff;
		
		width: 80px;
		height: 80px;
		margin: 0px;
		border: none;
		text-decoration: none;
		margin-top: -20px;
		position: relative;
		margin-top: 1px;
		margin-right: 75px;
	}

	.course {
		background-color: rgba(0, 38, 255, 0.5);
		color: #fff;
		width: 80px;
		border-radius: 10px;
		margin: 0px;
		position: relative;
		margin-top: 10px;
		margin-left: 70px;
	}

	.Jambreg {
		background-color: teal;
		color: #fff;
		width: 80px;
		height: 80px;
		margin: 0px;
		margin-top: 10px;
		margin-left: 70px;
	}

	.reprint {
		background-color: teal;
		color: #fff;
		width: 80px;
		height: 80px;
		margin: 0;
		margin-top: 40px;
		margin-right: 75px;

	}

}

a {
	color: #dadada;
	text-decoration: underline;
	
}

a:active,
a:focus,
a:hover {
	outline: 0;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
	font-weight: 400;
	line-height: 1.16667;
	margin: 0 0 28px;
	text-align: center;
}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

p {
	margin: 0 0 28px;
}

ul,
ol {
	margin: 0 0 28px;
	padding: 0 0 0 24px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

/*********************
    - 3. General styles -
*********************/

/* Clearing floats */
.row:after { 
	clear: both; 
}

.row:before,.row:after { 
	content: ""; 
	display: table; 
}

/* Assistive text */
.screen-reader-text {
	border: 0 none;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

/* Grid */

.one {
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
	float: left;
	padding-left: 38px;
}

.one {
	width: 100%;
}

.one-half {
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
	float: left;
	padding-left: 38px;
}

.one-half {
	width: 50%;
}


.one-third {
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
	float: left;
	padding-left: 38px;
	font-size: 13px;
}

.one-third {
	width: 33%;
}


/* Responsive images */
.wrap img {
	height: auto;
	max-width: 100%;
}

/* Custom text styles */
.subtitle {
	font-size: 14px;
	letter-spacing: 1px;
	margin: 28px 0;
	text-align: center;
}

.row h2 {
	font-size: 24px;
	margin-bottom: 14px;
	text-align: left;
}

.main-phrase
{
	font-size:30px;
	font-weight:400;
	letter-spacing:-2px;
	text-align:center;
	color:#fff;
	opacity:.9;
	margin-bottom:10px
}

@media (min-width:992px)
{
.main-phrase
{
	font-size:35px;
	margin-top:30px
}
}

@media (min-width:1600px)
{
.main-phrase
{
	font-size:125px;
	line-height:125px;
	min-height:250px;
	margin-top:80px
}
}

@media (min-width:992px)
{
.main-phrase-404
{
	font-size:180px;
	margin-top:130px;
	min-height:110px
}
}


/* Icons */

.social
{
	text-align:center;
	margin-top:20px;
}
a{
	width:80px;
	height: 80px;
}
.social a
{
	display:inline-block;
	border:1px solid #fff;
	color:#fff;
	margin-right:5px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	width:40px;
	height:40px;
	line-height:40px;
	font-size:18px;
	text-align:center;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	-o-transition-property:-o-transform;
	transition-property:transform;
	
}

.social a:hover
{
	background:rgba(255,255,255,0.3);
	border:1px solid #fff;
	color: #fff;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}

.social ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.social li {
	display: inline-block;
	margin: 4px;
}

.icon,
.modal-toggle .icon {
	color: #fff;
	display: inline-block;
	font-size: 18px;
	width: 85px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	height: 85px;
	-webkit-transition:	all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	transition:			all 0.3s ease;
}

.icon:hover,
.modal-toggle .icon:hover {
	color: #fff;
}

.icon,
.modal-toggle .icon,
#bg-video-controls .fa {
	color: #fff;
	display: inline-block;
	font-size: 18px;
	
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	
	-webkit-transition:	all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	transition:			all 0.3s ease;
}

.icon:hover,
.modal-toggle .icon:hover,
#bg-video-controls .fa:hover {
	color: rgba(0,0,125,0.3);
}

.row h2 .icon {
	font-size: 18px;
	line-height: 1.55556;
	margin-right: 10px;
}

a.button-about {
	color: #fff; 
	display: inline-block;
	text-decoration: none; 
	background: rgba(0,0,125,0.0); 
	margin: 20px 0;
	padding: 6em  7em; 
	outline: none; 
	position: relative;
	align-content: center;
	border:1px solid #fff;
	-webkit-border-radius:5%;
	-moz-border-radius:5%;
} 
a.button-about:hover { 
	background:rgba(255,255,255,0.3);
	color:#fff;
	border:1px solid rgba(255,255,255,0.8);
	-webkit-border-radius:5%;
	-moz-border-radius:5%; }
	
a.button-about:active { 
	background:rgba(255,255,255,0.3); 
	border:1px solid #fff;
	width:85px;
	height: 85px;
	-webkit-border-radius:5%;
	-moz-border-radius:5%;
  }


/* Preload */
#preload {
	background: #000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;	
	width: 100%;
	z-index: 998;
}

#preload-content {
	height: 100px;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	top: 40%;
	width: 100px;
	z-index: 999;
}

.preload-spinner {
	margin: 0 auto 14px;
	text-align: center;
}

.loading-logo-wraper
{
	width:100px;
	margin:0 auto;
	margin-bottom:20px;
	margin-top:20px
}

.loading-logo-wraper img
{
	width:100%
}

.tp-loader
{
	z-index:10000;
	position:relative
}

.tp-loader.spinner
{
	width:30px;
	height:30px;
	margin:0 auto;
	margin-bottom:10px;
	border:2px solid #fff;
	box-shadow:0 0 20px 0 rgba(0,0,0,.15);
	-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.15);
	-webkit-animation:tp-rotateplane .8s infinite ease-in-out;
	animation:tp-rotateplane .8s infinite ease-in-out;
	border-radius:3px;-moz-border-radius:3px;
	-webkit-border-radius:3px
}

@-webkit-keyframes tp-rotateplane
{
50%
{
	-webkit-transform:rotate(180deg)
}

100%
{
	-webkit-transform:rotate(180deg)
}
}

@keyframes tp-rotateplane
{
0%
{
transform:rotate(0deg);
	-webkit-transform:rotate(0deg)
}

50%
{
	transform:rotate(180.1deg);
	-webkit-transform:rotate(180.1deg)
}

100%
{
	transform:rotate(180.1deg);
	-webkit-transform:rotate(180.1deg)
}
}

/*********************
    - 4. Basic Structure -
*********************/
.wrap {
	min-height: 100%;
	position: relative;
}

.inner {
	margin: 0 auto;
	padding: 42px 24px;
}

#main {
	position: relative;
}

#main .inner {
	max-width: 816px;
	padding-bottom: 20px;
	padding-top: 20px;
}

#modal {
	background: #1f1f1f;
	background: rgba(31,31,31,0.8);
	display: none;
	left: 0;
	width: 85px;
	height: 85px;
	min-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 997;
}

#modal2 {
	background: #1f1f1f;
	background: rgba(31,31,31,0.8);
	display: none;
	left: 0;
	width: 85px;
	height: 85px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 997;
}
#jamb{
	color: white;
	background-color: rgb(0, 1, 61);
	width: 130px;
	height: 120px;
	line-height: 30px;
	text-align: center;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 30px;
	display: -webkit-flex;
	display: flex;
	opacity: 0.8;
	border-radius: 15px;
	
}
.footer{
	margin-top: -90px;
}
#jambrp {
	margin-left: 10px;
	margin-top: 10px;
}
#prep{
	margin-top: -130px;
	margin-left: 145px;
}
#chan{
	margin-left: 10px;

}
#jbreg{
	margin-top: -120px;
	margin-left: 145px;
}
#jambreg{
		color: white;
		background-color: rgb(156, 57, 0);
		width: 130px;		
		height: 120px;
		line-height: 30px;
		text-align: center;
		padding-top: 30px;
		display: -webkit-flex;
		border-radius: 15px;
		font-size: 20px;
		opacity: 0.8;		
		display: flex;
		font-weight: bold;
}
#change{
	color:	white;
	background-color:	rgb(0, 90, 30);
	width: 130px;
	height: 120px;
	text-align: center !important;
	font-size: 20px;
	font-weight: bold;
	padding-top: 30px;
	display: -webkit-flex;
	border-radius: 15px;
	opacity: 0.8;
	display: flex;
}
/* .btn-large{
	padding: 0px;
} */
#prep50{
		color: white;
		background-color: rgba(114, 0, 6, 0.911);
		width: 130px;
		height: 120px;		
		text-align: center;
		margin-bottom: 10px;
		padding: 8px;
		font-weight: bold;
		border-radius: 15px;
		opacity: 0.8;
		font-size: 20px;
		padding-top: 25px;
		line-height: 30px;
}


#modal .inner {
	max-width: 85px;
	
}

#modal2 .inner {
	max-width: 85px;
	
}



/* Background Overlay */
.body-bg {
	background: rgba(0,0,0,0.2) url(images/overlay.png) repeat;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

/* Background Video */
#bg-video-controls {
	bottom: 0;
	height: 36px;
	padding: 4px;
	position: fixed;
	right: 0;
	text-align: center;
	width: 73px;
	z-index: 3;
}

#bg-video-controls a {
	display: block;
	float: left;
}

#bg-video-controls a:first-child {
	border-right: 1px dotted #dadada;
	border-color: rgba(218,218,218,0.8);
}

/*********************
    - 5. Main -
*********************/

/* Header */
.site-title {
	font-size: 30px;
	margin-bottom: 0px;
}

.flex {
 display: flex;
  justify-content: center;
  flex-direction: column;
}


/* subscribe */
#subscribe {
	margin: 0 auto;
	max-width: 588px;	
}

#subscribe-form {
	position: relative;
}

#subscribe-form .form-field {
	margin-right: 180px;
}

#subscribe-form .form-submit {
	height: 42px;
	position: absolute;
	right: 0;
	top: 0;
	width: 180px;
}

#subscribe_email,
#subscribe_submit {
	display: block;
	height: 42px;
	width: 100%;
}

#subscribe_email {
	border-right: 0;
}

/* Social */
.social {
	margin: 28px 0;
}

.social ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.social li {
	display: inline-block;
	margin: 4px;
}

/* Modal toggle */
#main .modal-toggle {
	margin: 20px 0px;
	left: 0;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;

}

/* #modal-open {
	
	font-size: 14px;
	margin-top: 170px;
	 margin-left: 100px; 
	text-align: center;
	
} */

/*********************
    - 6. Modal page: About Us -
*********************/
/* Modal toggle */
#modal .modal-toggle  {
	margin-bottom: 42px;
	text-align: center;
}

#modal2 .modal-toggle  {
	margin-bottom: 42px;
	text-align: center;
}


/*********************
    - 7. No JS -
*********************/
.no-js #timer,
.no-js .modal-toggle,
.no-js #preload {
	display: none;
}

/*********************
    - 8. Media -
*********************/
@media only screen and (max-width: 680px) {
	h1 {
		font-size: 36px;
	}
	.countdown-amount {
		font-size: 28px;
	}
}

@media only screen and (max-width: 540px) {
	.one-half  {
		width: 100%;
	}	
}

@media only screen and (max-width: 540px) {
	.one-third  {
		width: 100%;
	}	
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 30px;
	}
	/* #reprint{
		position: relative;
		bottom:200px;
		
	}
	#jambreg {
		position: relative;
		bottom: 200px;
		
	/* } */
	#modal-open{
		width:85px;
		height: 85px;
		margin: 0px;
		margin-top: -70px;
		margin-right: 50px;
		position: relative;
		
	}
	#modal2-open {
		
		margin: 0px;
		margin-top:-170px;
		margin-left: 170px;
		position: relative;

	}
	#modal3-open {
		
		
		margin-top: -150px;
		margin-right: 50px;
		position: relative;

	}
	a{
	width:50px;
	height: 85px;
	}

	#modal4-open {
		
		
		margin-top: 2px;
		margin-left: 170px;
		position: relative;

	} */
	#newsletter-form .form-field {
		margin: 0 0 14px;
	}
	#newsletter-form .form-submit {
		margin: 0 auto;
		position: static;
		right: auto;
		top: auto;
	}
	a {
		width: 85px;
		height: 85px;
	}
}

@media only screen and (max-width: 360px) {
	.countdown-section {
		font-size: 10px;
		padding: 21px 6px;
	}
	.countdown-amount {
		font-size: 16px;
	}
	a{
		width: 85px;
		height: 85px;
	}
}


.bubble-effect {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}